@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


.menu-item {
    text-transform: uppercase;
    color: black;
    font-weight: 900;
}

.menu-item:not(:last-child) {
    border-right: solid 2px black;
}

.menu-link {
    transition: 0.3s ease-in-out;
}

.menu-link:hover {
    color: #3BD8C5;
}

/* BANNIERE */
#banner {
    background: url("../img/photo-1556139943-4bdca53adf1e\ 1.jpg");
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}

.title {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0 3px 8px rgba(63, 63, 63, 0.842);
    letter-spacing: 2px;
    text-align: center;
}

.contact {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-btn {
    background: #FF4676;
    color: #fff;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.contact-btn:hover {
    color: #FF4676;
    background-color: #F5F5F5;
    border: solid 1px #FF4676;
}


/* SECTION APPROCHE */
h2 {
    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: bolder;
}

p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contenu-listes {
    display: flex;
    flex-direction: column;
    margin: 0;
}



/* SECTION METHODE */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content img {
    width: 20%;
    align-self: center;
    margin-top: 3%;
}

span {
    font-weight: bold;
}

