@font-face {
    font-family: "Roboto";
    src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/* NAV BAR PRINCIPALE */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav img {
    width: 3%;
    padding: 5px 0 1rem;
}

.main-menu {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}

.main-menu li, .main-menu a {
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    padding-right: 2rem;
    color: black;
    padding: 0 1.5rem;
    font-weight: bolder;
}

.main-menu li:not(:last-child) {
    border-right: solid 1px black;
}


/* SECTION BANNIERE */
#banner {
    background-image: url("/assets/img/photo-1556139943-4bdca53adf1e\ 1.jpg");
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 5rem;
    width: 60%;
    font-weight: bolder;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: #F84AA7;
    border: solid 1px #F84AA7;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 1%;
    font-weight: bold;
}

.btn:hover {
    text-decoration: none;
    text-transform: uppercase;
    color: #F84AA7;
    background-color: #F5F5F5;
    border: solid 1px #F84AA7;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-top: 1%;
    font-weight: bold;
    transition: 0.3s ease;
}

/* SECTION APPROCHE */
h2 {
    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
    font-weight: bolder;
}

p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contenu-listes {
    display: flex;
    flex-direction: column;
    margin: 0;
}



/* SECTION METHODE */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content img {
    width: 20%;
    align-self: center;
    margin-top: 3%;
}

span {
    font-weight: bold;
}

